---
import {Icon} from "astro-icon"
import "./Discover.css"
---

<section class="discover-container display">
    <nav class="discover-nav-layout">
        <ul>
            <li class="discover-nav-selection"><button type="button">Preselling</button></li>
            <li class="discover-nav-selection"><button type="button">North</button></li>
            <li class="discover-nav-selection"><button type="button">South</button></li>
            <li class="discover-nav-selection"><button type="button">Makati</button></li>
            <li class="discover-nav-selection"><button type="button">Central</button></li>
            <li class="discover-nav-selection"><button type="button">East</button></li>
            <li class="discover-nav-selection"><button type="button">West</button></li>
            <li class="discover-nav-selection"><button type="button">Provincial</button></li>
        </ul>
    </nav>

    <div class="discover-card-selection">
        <div class="card-entry-container">
            <div class="card-entry">
                <div class="card-bg-image p1" >
                    <span class="location">
                    <Icon name="location-svgrepo-com">
                </span>
                <span class="heart">
                </span>
                    <span class="card-entry-location"></span>
                    <span class="card-entry-type"></span>
                    <button class="card-entry-heart"><Icon name="heart-circle-svgrepo-com">
                    </button>
                </div>
                <div class="card-description">
                    <h4>Bloom Residence</h4>
                    <div class="description-icon">
                        <span class="bedroom-icon"><Icon name="beds-sleep-svgrepo-com"></Icon></span>
                        <span class="bathtub-icon"><Icon name="bathtub-svgrepo-com"></Icon></span>
                        <span class="area-icon"><Icon name="area"></Icon></span>    
                    </div>
                    <p class="card-price-description">$100000</p>
                </div>
            </div>
            <div class="card-entry">
                <div class="card-bg-image p2">
                    <span class="location">
                    <Icon name="location-svgrepo-com">
                </span>
                <span class="heart">
                </span>
                    <span class="card-entry-location"></span>
                    <span class="card-entry-type"></span>
                    <button class="card-entry-heart"><Icon name="heart-circle-svgrepo-com">
                    </button>
                </div>
                <div class="card-description">
                    <h4>Jade Residence</h4>
                    <div class="description-icon">
                        <span class="bedroom-icon"><Icon name="beds-sleep-svgrepo-com"></Icon></span>
                        <span class="bathtub-icon"><Icon name="bathtub-svgrepo-com"></Icon></span>
                        <span class="area-icon"><Icon name="area"></Icon></span>    
                    </div>
                    <p class="card-price-description">$100000</p>
                </div>
            </div>
            <div class="card-entry">
                <div class="card-bg-image p3">
                    <span class="location">
                    <Icon name="location-svgrepo-com">
                </span>
                <span class="heart">
                </span>
                    <span class="card-entry-location"></span>
                    <span class="card-entry-type"></span>
                    <button class="card-entry-heart"><Icon name="heart-circle-svgrepo-com">
                    </button>
                </div>
                <div class="card-description">
                    <h4>Zeal Residence</h4>
                    <div class="description-icon">
                        <span class="bedroom-icon"><Icon name="beds-sleep-svgrepo-com"></Icon></span>
                        <span class="bathtub-icon"><Icon name="bathtub-svgrepo-com"></Icon></span>
                        <span class="area-icon"><Icon name="area"></Icon></span>    
                    </div>
                    <p class="card-price-description">$100000</p>
                </div>
            </div>
            <div class="card-entry">
                <div class="card-bg-image p4">
                    <span class="location">
                    <Icon name="location-svgrepo-com">
                </span>
                <span class="heart">
                </span>
                    <span class="card-entry-location"></span>
                    <span class="card-entry-type"></span>
                    <button class="card-entry-heart"><Icon name="heart-circle-svgrepo-com">
                    </button>
                </div>
                <div class="card-description">
                    <h4>Light Residence</h4>
                    <div class="description-icon">
                        <span class="bedroom-icon"><Icon name="beds-sleep-svgrepo-com"></Icon></span>
                        <span class="bathtub-icon"><Icon name="bathtub-svgrepo-com"></Icon></span>
                        <span class="area-icon"><Icon name="area"></Icon></span>    
                    </div>
                    <p class="card-price-description">$100000</p>
                </div>
            </div>
            <div class="card-entry">
                <div class="card-bg-image p5">
                    <span class="location">
                    <Icon name="location-svgrepo-com">
                </span>
                <span class="heart">
                </span>
                    <span class="card-entry-location"></span>
                    <span class="card-entry-type"></span>
                    <button class="card-entry-heart"><Icon name="heart-circle-svgrepo-com">
                    </button>
                </div>
                <div class="card-description">
                    <h4>Light 2 Residence</h4>
                    <div class="description-icon">
                        <span class="bedroom-icon"><Icon name="beds-sleep-svgrepo-com"></Icon></span>
                        <span class="bathtub-icon"><Icon name="bathtub-svgrepo-com"></Icon></span>
                        <span class="area-icon"><Icon name="area"></Icon></span>    
                    </div>
                    <p class="card-price-description">$100000</p>
                </div>
            </div>
            <div class="card-entry">
                <div class="card-bg-image p6">
                    <span class="location">
                    <Icon name="location-svgrepo-com">
                </span>
                <span class="heart">
                </span>
                    <span class="card-entry-location"></span>
                    <span class="card-entry-type"></span>
                    <button class="card-entry-heart"><Icon name="heart-circle-svgrepo-com">
                    </button>
                </div>
                <div class="card-description">
                    <h4>Air Residence</h4>
                    <div class="description-icon">
                        <span class="bedroom-icon"><Icon name="beds-sleep-svgrepo-com"></Icon></span>
                        <span class="bathtub-icon"><Icon name="bathtub-svgrepo-com"></Icon></span>
                        <span class="area-icon"><Icon name="area"></Icon></span>    
                    </div>
                    <p class="card-price-description">$100000</p>
                </div>
            </div>
            <div class="card-entry">
                <div class="card-bg-image p7">
                    <span class="location">
                    <Icon name="location-svgrepo-com">
                </span>
                <span class="heart">
                </span>
                    <span class="card-entry-location"></span>
                    <span class="card-entry-type"></span>
                    <button class="card-entry-heart"><Icon name="heart-circle-svgrepo-com">
                    </button>
                </div>
                <div class="card-description">
                    <h4>Shore Residence</h4>
                    <div class="description-icon">
                        <span class="bedroom-icon"><Icon name="beds-sleep-svgrepo-com"></Icon></span>
                        <span class="bathtub-icon"><Icon name="bathtub-svgrepo-com"></Icon></span>
                        <span class="area-icon"><Icon name="area"></Icon></span>    
                    </div>
                    <p class="card-price-description">$100000</p>
                </div>
            </div>
            <div class="card-entry">
                <div class="card-bg-image p8">
                    <span class="location">
                    <Icon name="location-svgrepo-com">
                </span>
                <span class="heart">
                </span>
                    <span class="card-entry-location"></span>
                    <span class="card-entry-type"></span>
                    <button class="card-entry-heart"><Icon name="heart-circle-svgrepo-com">
                    </button>
                </div>
                <div class="card-description">
                    <h4>Fame Residence</h4>
                    <div class="description-icon">
                        <span class="bedroom-icon"><Icon name="beds-sleep-svgrepo-com"></Icon></span>
                        <span class="bathtub-icon"><Icon name="bathtub-svgrepo-com"></Icon></span>
                        <span class="area-icon"><Icon name="area"></Icon></span>    
                    </div>
                    <p class="card-price-description">$100000</p>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    
    
</style>