---
import "./Footer.css"
---

<footer class="main-footer-con">
    <div class="footer-flex-group">
        <div class="contact-us footer-flex-item">
            <div class="address">
                <div class="logo"></div>
                <div class="contact-con">
                    <p>Lorem, ipsum dolor.</p>
                    <p>Nemo, nisi velit!</p>
                    <p>Accusantium, illo sint!</p>
                    <p>Explicabo, totam voluptates!</p>
                    <div class="contacts">
                        <span class="fb-contact"></span>
                        <span class="ig-contact"></span>
                        <span class="email-contact"></span>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="about-con footer-flex-item">
            <div class="about-text">
                    <h3>About</h3>
                    <p><a href="">Lorem.</a></p>
                    <p><a href="">Ducimus!</a></p>
                    <p><a href="">Doloremque!</a></p>
                    <p><a href="">Natus.</a></p>
                    <p><a href="">Iusto?</a></p>
                </div>
            </div>
        <div class="customer-service-con footer-flex-item">
            <div class="customer-service-text">
                <h3>Customer Service</h3>
                <p><a href="">Lorem.</a></p>
                <p><a href="">Voluptatibus.</a></p>
                <p><a href="">Aperiam.</a></p>
                <p><a href="">Voluptate!</a></p>
                <p><a href="">Assumenda!</a></p>
            </div>
        </div>
     
    </div>
    <div class="misc-footer ">
        <ul class="misc-main">
            <p><a href="">© 2023 Partners with SMDC Residences, Inc
            </a></p>
            <p><a href="">Terms</a></p>
            <p><a href="">Privacy</a></p>
        </ul>
    </div>
</footer>
