---
import "./LearnAboutProperty.css"
---

<section class="lap-main-con">
    <h1>Learn about SMDC</h1>

    <div class="properties-con">

        <div class="lap-showcase">
            <div class="main-prop-showcase">
            </div>

            <div class="article-con">
                <div class="showcase-article">
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
                    <p class="article-snippet">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, optio.
                    </p>
                </div>
            </div>
        </div>
        <div class="lap-feature-prop">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

</section>

<!-- ::-moz-focus-inner {border:0;}-->