---
import "./Testimonials.css"
---

<footer class="testimonials-con">
    <div class="testimonial-showcase">
        <h1> Testimonial</h1>
        <div class="testimonil-card">
            <div class="proud-man"></div>
            <div class="testimonila-text">
                <p>
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eius consequuntur corporis eveniet perspiciatis explicabo temporibus natus non corrupti eaque nam, fugiat tempora adipisci? Ex ipsa incidunt adipisci cum? A."
                 <pre class="guest">-kahit sinu ahahah</pre>
                </p>
            </div>
        </div>
        <div class="awards-credentials">
            <article class="article-award"></article>
            <div class="award-list">
                <ul class="award-items">
                    <h3>SMDC Awards and Recognitions</h3>

                    <li>Lorem ipsum dolor sit.</li>
                    <li>Dicta alias eum laborum?</li>
                    <li>Recusandae dignissimos consequuntur a.</li>
                    <li>Aliquid sint quaerat doloribus?</li>
                    <li>Quas libero dicta totam!</li>
                    <li>Est illo sint sed.</li>
                    <li>Minima fugit repellat molestiae?</li>
                    <li>At incidunt quibusdam sed.</li>
                    <li>Aspernatur cum tenetur aliquid?</li>
                    <li>Porro omnis ipsum eaque?</li>
                    <li>Architecto aperiam maiores tenetur.</li>
                    <li>Unde voluptatem quos porro!</li>
                    <li>Quibusdam odit a accusamus.</li>
                    <li>Eos sed vero est?</li>
                    <li>Repellendus ipsum minima in.</li>
                </ul>
            </div>

        </div>
    </div>
    
</footer>

